<html>
    <style>
        .bg{
         
            background-image: url("404error");
            height: 100%; 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <body>
            <p>
                O endereço buscado não existe.
            </p>
            <div class='bg'></div>
            
    </body>
</html>